<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.sinsabridge.backend.infrastructure.mapper.UserMapper">
    <resultMap id="UserResultMap" type="io.sinsabridge.backend.domain.entity.User">
        <id property="phoneNumber" column="phone_number" />
        <result property="gender" column="gender" />
        <result property="age" column="age" />
        <result property="hobby" column="hobby" />
        <result property="location" column="location" />
        <result property="paidUser" column="paid_user" />
        <result property="paymentTime" column="payment_time" />
        <result property="expirationDate" column="expiration_date" />
        <result property="profileImage" column="profile_image" />
        <result property="phoneVerification" column="phone_verification" />
        <result property="lastVerificationTime" column="last_verification_time" />
    </resultMap>

    <select id="findByPhoneNumber" resultMap="UserResultMap">
        SELECT * FROM user WHERE phone_number = #{phoneNumber}
    </select>

    <insert id="save" parameterType="io.sinsabridge.backend.domain.entity.User">
        INSERT INTO user (
        phone_number, gender, age, hobby, location,
        paid_user, payment_time, expiration_date, profile_image,
        phone_verification, last_verification_time
        ) VALUES (
        #{phoneNumber}, #{gender}, #{age}, #{hobby}, #{location},
        #{paidUser}, #{paymentTime}, #{expirationDate}, #{profileImage},
        #{phoneVerification}, #{lastVerificationTime}
        )
    </insert>

    <update id="update" parameterType="io.sinsabridge.backend.domain.entity.User">
        UPDATE user SET
        gender = #{gender},
        age = #{age},
        hobby = #{hobby},
        location = #{location},
        paid_user = #{paidUser},
        payment_time = #{paymentTime},
        expiration_date = #{expirationDate},
        profile_image = #{profileImage},
        phone_verification = #{phoneVerification},
        last_verification_time = #{lastVerificationTime}
        WHERE phone_number = #{phoneNumber}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM user WHERE phone_number = #{phoneNumber}
    </delete>
</mapper>
